body {
    background-color: #000000;
    color: rgb(10, 10, 10);
    font-family: Arial, sans-serif;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
form {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.error{
    color: red;
    font-size: 14px;
    /* margin-top: 10px; */
}

label{
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #7C3AED!important;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

